<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View dengan CSRF</title>
  </head>
  <body>
    <h1>View dengan CSRF</h1>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form method="POST">
      {{ form.hidden_tag() }}
      <label for="{{ form.name.id }}">{{ form.name.label }}</label>
      {{ form.name() }} {{ form.submit() }}
    </form>
  </body>
</html>
